In [12]:
import pandas as pd
import Image
import matplotlib.pyplot as plt

input_path = "../../data/movielens/ml-1m/ratings.dat"

ModuleNotFoundError: No module named 'Image'

In [10]:
ratings = []
with open(input_path) as infile:
    for cnt, line in enumerate(infile):
        x = line.strip().split("::")
        y = map(lambda item: int(item), x)
        ratings.append(y)
    print("total records:", cnt)

df = pd.DataFrame(ratings, columns=['uid', 'mid', 'rate', 'timestamp'])

total records: 1000208

In [4]:
df.head()

   uid   mid  rate  timestamp
0    1  1193     5  978300760
1    1   661     3  978302109
2    1   914     3  978301968
3    1  3408     4  978300275
4    1  2355     5  978824291

In [5]:
df.describe()

                uid           mid          rate     timestamp
count  1.000209e+06  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  3.581564e+00  9.722437e+08
std    1.728413e+03  1.096041e+03  1.117102e+00  1.215256e+07
min    1.000000e+00  1.000000e+00  1.000000e+00  9.567039e+08
25%    1.506000e+03  1.030000e+03  3.000000e+00  9.653026e+08
50%    3.070000e+03  1.835000e+03  4.000000e+00  9.730180e+08
75%    4.476000e+03  2.770000e+03  4.000000e+00  9.752209e+08
max    6.040000e+03  3.952000e+03  5.000000e+00  1.046455e+09

In [6]:
df.groupby('mid').count().plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [7]:
dfuid = df[df['uid']==1]

                uid           mid          rate     timestamp
count  1.000209e+06  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  3.581564e+00  9.722437e+08
std    1.728413e+03  1.096041e+03  1.117102e+00  1.215256e+07
min    1.000000e+00  1.000000e+00  1.000000e+00  9.567039e+08
25%    1.506000e+03  1.030000e+03  3.000000e+00  9.653026e+08
50%    3.070000e+03  1.835000e+03  4.000000e+00  9.730180e+08
75%    4.476000e+03  2.770000e+03  4.000000e+00  9.752209e+08
max    6.040000e+03  3.952000e+03  5.000000e+00  1.046455e+09

In [9]:
df.loc[1]

uid                  1
mid                661
rate                 3
timestamp    978302109
Name: 1, dtype: int64

In [10]:
df['uid'][0:10]

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: uid, dtype: int64

In [ ]:
pd.pivot(df, columns =['uid'])

In [ ]:
pandas.melt(df)